@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-700;
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg
           bg-purple-600 text-white
           hover:bg-purple-700 transition;
  }

  .input {
    @apply w-full px-4 py-2 text-sm
           border border-gray-300 rounded-lg
           focus:ring-2 focus:ring-purple-200
           focus:outline-none;
  }

  .card {
    @apply bg-white p-6 rounded-lg shadow-md;
  }

  .page-center {
    @apply min-h-screen flex items-center justify-center;
  }
}
